{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10.0"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}

